.por {
    &--tabs {
        margin: 25px 0px;
    }
    &--tabs-btn {
        padding: 10px 40px;
        color: #fff;
        background-color: #4eb56a;
        border-radius: 4px;
        span {
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            margin-right: 5px;
        }
    }
    &--modal-i {
        width: 100%;
        padding: 12px 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 600;
        &.active {
            color: #fff;
            background-color: #3e75e2;
        }
    }
    &--modal-body {
        margin: 40px 0px;
    }
    &--card {
        padding: 20px;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 4px;
        margin-bottom: 15px;
    }
    &--card-logo {
        display: flex;
        align-items: center;
        span {
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
            margin-right: 5px;
            color: #000;
        }
        .anticon-trophy {
            font-size: 18px;
        }
    }
    &--card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: 1px solid #e6dbdb;
    }
    &--card-edit {
        background-color: unset;
        .anticon-edit {
            font-size: 22px;
        }
    }
    &--body-flex {
        margin-top: 25px;
        .row {
            margin-top: 15px;
        }
    }
    &--body-htext {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #000;
    }
    &--body-ptext {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    &--body-footer {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        .anticon-delete {
            font-size: 20px;
        }
    }
}
.por--tabs .ant-tabs-nav .ant-tabs-tab {
    font-weight: 700;
    font-size: 18px;
}
.por--modal-body .ant-form-item label {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}
.ant-calendar-picker {
    width: 100%;
}