@media(max-width: 1200px ) {
    .bio--box {
        padding-top: 90px;
    }
    .bio__htext {
        font-size: 58px;
        line-height: 73px;
    }
    .bio__ptext {
        font-size: 20px;
        line-height: 30px;
    }
    .bio {
        height: 734px;
    }
    .winners--title {
        font-size: 37px;
        line-height: 59px;
    }
    .winners--box {
        margin-left: 0;
        margin-right: 0;
    }
    .questions, .grant, .process, .winners--bottom {
        padding: 74px 0px;
    }
    .winners--bottom-title {
        font-size: 40px;
        line-height: 56px;
    }
}
@media(max-width: 1024px ) { 
    .wrraper-box__menu {
        max-width: 40%;
        flex-basis: 40%;
    }
    .wrraper-box__index {
        max-width: 60%;
        flex-basis: 60%;
    }
}
@media(max-width: 993px ) { 
    .request {
        padding: 56px 16px 56px 16px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
        margin: 72px 0px;
    }
    .request__box {
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width: 840px ) { 
    .mob-navbar {
        display: block!important;
    }
    .wrraper-box__menu {
        display: none;
    }
    .wrraper-box__index {
        max-width: 100%;
        flex-basis: 100%;
    }
    .ant-drawer-content-wrapper {
        width: 100%!important;
    }
    .por--modal-i {
        margin-bottom: 5px;
    }
}
@media(max-width: 768px ) {
    .bio,.winners,.recep {
        padding: 20px 0px;
    }
    .footer__block .footer__item:first-child {
        display: none;
    }
    .wrraper-box {
        margin-bottom: 0;
    }
    .wrraper-box__index {
        padding-top: 20px;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .student__personal {
        flex-wrap: wrap;
    }
    .student__box .student__per-img {
        flex-basis: 100%;
        max-width: 100%;
        margin-right: 0;
    }
    .student__box .student__bio {
        flex-basis: 100%;
        max-width: 100%;
    }
    .bio--box {
        width: 100%;
    }
    .bio--box {
        padding-top: 50px;
    }
    .bio__htext {
        font-size: 50px;
        line-height: 68px;
    }
    .bio {
        height: 682px;
    }
    .bio--img-ellpse img {
        bottom: 44px;
    }
    .questions__htext, .grant--title, .process--title, .winners--bottom-title, .winners--title {
        font-size: 31px;
        line-height: 53px;
    }
    .winners--bottom-text, .winners--text {
        font-size: 20px;
        line-height: 34px;
    }
    .questions, .grant, .process, .winners--bottom {
        padding: 20px 0px;
    }
    .process--text {
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .grant--box {
        margin-top: 21px;
    }
    .questions__box {
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width: 650px ) {
    .bio__htext,.winners__htext,.recep--htext {
        font-size: 33px;
        line-height: 40px;
    }
    .winners__img {
        display: none;
    }
    .recep--ptext {
        margin-left: 0;
    }
    .recep--flex-text {
        margin-bottom: 20px;
    }
    .bio__img {
        display: none;
    }
}
@media(max-width: 576px ) {
    :root .ant-dropdown-trigger > .anticon.anticon-down, :root .ant-dropdown-link > .anticon.anticon-down {
        display: none;
    }
    .header__select-box span {
        display: none;
    }
    .bio__htext, .winners__htext, .recep--htext {
        font-size: 22px;
        line-height: 31px;
    }
    .bio,.winners,.recep {
        padding: 10px 0px;
    }
    .bio__ptext,.winners__box-htext,.recep--ptext {
        font-size: 17px;
        line-height: 29px;
    }
    .bio__btn {
        margin-top: 20px;
    }
    .winners__box-ptext {
        margin-top: 5px;
    }
    .recep--iframe {
        height: 328px;
    }
    .header__menu-btn span.res {
        display: block;
    } 
    .header__menu-btn span:first-child {
        display: none;
    }
    .header__menu-btn {
        padding: 9px 18px;
    }
    .header__menu-btn span {
        font-size: 14px;
        line-height: 20px;
    }
    .title {
        font-size: 28px;
    }
    .por--tabs-btn {
        width: 100%;
        margin-top: 10px;
    }
    .request__btn {
        font-size: 14px;
        line-height: 24px;
        width: 100%;
    } 
    .request__btn {
        padding: 16px 0px;
        width: 100%;
    }
    .request__unsuccess {
        font-size: 24px;
        line-height: 32px;
        text-align: left;
    }
    .student__box,.application--action {
        padding: 10px;
    }
    .student__bio-fullname {
        font-size: 20px;
        line-height: 24px;
    }
    .student__bio-item,.student__diplom-item {
        justify-content: unset;
        flex-wrap: wrap;
    }
    .student__bio-item-title,.student__diplom-i-title {
        margin-right: 15px;
    }
    .bio {
        height: 460px;
    }
    .bio--img-ellpse {
        display: none;
    }
    .questions__htext, .grant--title, .process--title, .winners--bottom-title, .winners--title {
        font-size: 26px;
        line-height: 47px;
    }
    .winners--iframe {
        height: 344px;
    }
}
@media(max-width: 410px ) {
    .header__logo-text {
        font-size: 17px;
        line-height: 20px;
    }
    .header__logo-img {
        margin-right: 5px;
    }
    .bio__btn,.winners__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 16px 40px;   
    }
    .bio__resault-text {
        font-size: 21px;
        line-height: 25px;
    }
    .winners__box-img {
        margin-right: 12px;
    }
    .header__block {
        flex-wrap: wrap;
    }
    .header__menu {
        margin-top: 10px;
    }
    .footer__block {
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .footer__item {
        margin-bottom: 15px;
    }
    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .footer__item-h {
        font-size: 19px;
        line-height: 24px;
    }
    .request {
        padding: 56px 16px 56px 16px;
    }
    .request__btn {
        padding: 16px 0px;
        width: 100%;
    }
    .request__full-name {
        font-size: 24px;
        line-height: 32px;
    }
    .request__hello,.request__welcome {
        font-size: 16px;
        line-height: 24px;
    }
    .request__unsuccess {
        font-size: 17px;
        line-height: 25px;
    }
    .bio--box {
        padding-top: 0px;
    } 
}