@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-SemiBold'), url('Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Medium'), url('Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'), url('Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
