* {
    outline: none;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-weight: 400;
    font-family: 'Montserrat';
    font-style: normal;
    color: #171740;
    background: #fafaff;
}
ul,li {
    padding: 0;
    margin: 0;
}
p {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    
}
.a {
    cursor: pointer;
    color: #1890F8;
}
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
button {
    border: 0;
    cursor: pointer;
}  
.container {
    max-width: 1440px;
    margin: 0px auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.outer-wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.wrapper {
    flex: 1 0 auto;
    position: relative;
    z-index: 2;
}
.wrraper-box {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: 100px;
    &__menu {
        max-width: 33.333%;
        flex-basis: 33.333%;
        padding-left: 12px;
        padding-right: 12px;
    }
    &__index {
        max-width: 66.667%;
        flex-basis: 66.667%;
        padding-right: 12px;
        padding-left: 12px;
        margin-top: 86px;
    }
}
// center 
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
}
.header__menu-btn .res {
    display: none;
}
.row.al-center {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

// admin
.main-content {
    margin-left: 301px;
    background: #F0F2F5;
    height: 100%;
}
.file-img iframe {
    height: 625px;
    position: relative;
    width: 100%;
}
.main__page {
    background-color: #FFFFFF;
    margin-top: 24px;
    margin-left: 24px;
    padding: 20px 24px 64px 24px;
}
.main__title {
    font-size: 20px;
    color: #282828;
    margin-bottom: 15px;
    font-weight: 500;
}
.header-college {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card--box {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100vh;
    .ant-card-head-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.85);
    }
    .application--action-title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 32px;
    }
}
.card--title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.85);
}
.ant-tabs-nav .ant-tabs-tab {
    margin-right: 5px;
}
@import './header/header';
@import './footer/footer';
@import './home/bio.scss';
@import './home/winners.scss';
@import './home/process.scss';
@import './home/grant.scss';
@import './home/questions.scss';
@import './app/app.scss';
@import './por/por.scss';
@import './layout/menulayout.scss';
@import './welcome/welcome.scss';
@import './media/responsive.scss';
@import './home/menufix.scss';
@import './student/student.scss';

// admin
@import './bar/bar.scss';
@import './tables/tables.scss';

