.bio {
    position: relative;
    height: 968px;
    background: #0A0027;
    z-index: 99;
    &__htext {
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 120px;
        text-align: center;
        background: linear-gradient(180deg, #C1BEDE -54.17%, #FFFFFF 109.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        z-index: 99;
    }
    &__ptext {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
        color: #473535;
        z-index: 99;
        width: 80%;
        display: block;
        margin: auto;
        color: #FFFFFF;
    }
    &__btn {
        display: flex;
        align-items: center;
        background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
        border-radius: 5px;
        padding: 20px 40px;
        margin-top: 40px;
        justify-content: center;
        z-index: 99;
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #fff;
            margin-right: 12px;
        }
    }
    &--box {
        width: 90%;
        margin: auto;
        display: block;
        padding-top: 140px;
        a {
            display: flex;
            justify-content: center;
        }
    }
    &--img {
        img {
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            position: absolute;
            left: 0;
            top: -104px;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            z-index: -1;
        }
    }
    &--img-blue {
        img {
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            position: absolute;
            left: 0;
            top: -104px;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            z-index: -1;
        }
    }
    &--img-ellpse {
        img {
            position: absolute;
            bottom: 17px;
            width: 100%;
            z-index: -1;
        }
    }
}