.winners {
    background: #0A0027;
    &--box {
        margin-left: 130px;
        margin-right: 130px;
    }
    &--title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #FFFFFF;
    }
    &--text {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;   
        margin-top: 32px;     
    }
    &--block {
        padding: 32px;
        background: radial-gradient(128.62% 214.84% at 100% 100%, rgba(99, 84, 255, 0.1) 0%, rgba(98, 84, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        box-shadow: inset -6px -6px 16px rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        margin-top: 56px;
    }
    &--block-i {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin-left: 20px;
        margin-bottom: 24px;        
    }
    &--bottom {
        padding: 120px 0px;
    }
    &--bottom-title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #FFFFFF;
    }
    &--bottom-text {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 32px;
        margin-bottom: 56px;
    }
    &--iframe {
        width: 100%;
        height: 700px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}